.container {
	position: relative;
	margin: 5rem;
	display: inline-block;
	background-color: transparent;
	width: 30rem;
	height: 35rem;
	padding: 0.5rem 4rem 0.25rem 0.25rem;
	border-style: solid;
	border-width: 5px;
	border-color: black;
	border-radius: 0.5rem;
	font-size: 1rem;
	overflow: hidden;
	/* oculta el contenido que excede al espacio reservado */
}

.title {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
	text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
		1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
	text-transform: uppercase;
	text-align: center;
	padding: 5px;
	margin: .01rem;
	background: rgba(0, 0, 0, .2);
	border-radius: 0.5rem;
}

.imageback {
	opacity: 0.7;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.detail {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3;
	text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
		1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
	text-align: center;
	padding: 5px;
	margin: .01rem;
}

h4 {	
	margin-top: 20rem;
}