.pokemoncard {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr 1fr;
	align-items: center;
	background-color:  #f1ce3a;
	border-radius: 1.5rem;
    border-color: #3972B8;
    border-width: 0.5rem;
    border-style: solid;
	position: relative;
	width: max-content;
    height: 150px;
}


.pokName {
	grid-column:  1 / span 2;
	font-weight: 700;
	font-size: 1.5rem;
}

.pokTypes {
	/* display: flex;
	flex-direction: column;	*/
}

.pokTypes > label {
	text-transform: uppercase;
	font-size:  0.75rem;
}

.pokTypes.typs {
	font-weight: 700;
	font-size:  1rem;
}

