* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.cards{
	display: grid;
	flex-direction: column;
	grid-template-columns: repeat(4, 1fr);
  	grid-template-rows: auto;
}

@media screen and (min-width:  576px) {
	.cards {
		flex-direction:  row;
		justify-content:  center;
	}
} 

/* .button {
	position: relative;
	width: 15rem;
	padding:  0.5rem 4rem 0.25rem 0.25rem;
	box-sizing: border-box; 
	border-style:  solid;
	border-width: 2px;
	border-color: black;
	border-radius: 0.5rem;
	font-weight: 500;
	font-size: 1rem;
} */

/* .button:hover {
	color:  #3972B8;
	background-color: #f1ce3a;
	border-color: #3972B8;
   cursor: pointer;
}

.select{
	position: relative;
	width: 15rem;
	padding:  0.5rem 4rem 0.25rem 0.25rem;
	box-sizing: border-box;
	border-style:  solid;
	border-width: 2px;
	border-color: black;
	border-radius: 0.5rem;
	font-weight: 500;
	font-size: 1rem;
}

.filterBreeds {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 70px 0;
} */